/* Definição de estilos para toda a tabela*/

.tabela {

     border: 1px solid #729fcf;

}



/* Definição de estilos para linha de cabeçalho da tabela*/

.cabecalho {

   text-align: center;

   font: 11px Arial, sans-serif;

   font-weight: bold;

   color: Snow;

   background:  #3465a4;

}

 

/* Definição de estilos para coluna */

.primeiro {

   text-align: center;

   font: 11px Arial, sans-serif;

   background: #caf3ee;

}

 

/* Definição de estilos para coluna */

.ultimo {

   font: 11px Arial, sans-serif;

   text-align: center;

   background: #93eaf9;

}